.card-container {
	margin-top: -10px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 35px;
	@media (max-width: 875px) {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: auto;
	}
}

.flip-card {
	background-color: transparent;
	width: 300px;
	height: 300px;
	margin-top: 20px;
	margin-left: 3rem;
	margin-right: 1rem;
	perspective: 1000px;
	cursor: pointer;
	border-radius: 15px;
}

.flip-card:nth-child(4n + 4) {
	margin-right: 3rem;
}

.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.flip-card-front {
	background-color: #bbb;
	color: black;
	& > .flip-img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.flip-card-back {
	background-color: #383a3b;
	color: white;
	transform: rotateY(180deg);
	& > h2 {
		padding: 7px;
	}
	& > p {
		font-size: 16px;
	}
}

.addToBasketBtn {
	padding: 10px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	width: 70%;
	transition: all 0.5s ease-in;
	font-size: 16px;
	display: inline;
	transform: translateY(130%);
	&:hover {
		background-color: rgb(204, 197, 197);
		color: rgb(52, 53, 54);
		box-shadow: 100px 36px 100px 58px rgba(20, 139, 236, 0.1);
	}
}
